/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 1140px;
    margin: auto;
}

/* container header */

header{
    background-color: #e57ae5;
    height: 150px;
    margin-top: 30px;
}

/* container main yellow */

.container-banner{
    background-color: #e1d679;
    height: 400px;
    margin-top: 25px;
}

/* container main leadership */


.container-leadership{
    background-color: #0389fe;
    height: 520px;
    margin-top: 25px;
}

.container-title-leadership{
    background-color: #abcfe6;
    height: 85px;
}


.column-1,
.column-2,
.center.column{
    height: 400px;
    background-color: #abcfe6;
    margin-top: 15px;
    float: left;
}

.column-1,
.column-2{
    width: 25%;
}

.column-2,
.center.column{
    margin-left: 15px;
}

.center.column{
    width: 539px;
}

/* footer */

footer{
    background-color: #8803ff;
    height: 70px;
    margin: 8px 0 20px;
}

